@use 'variables' as v;

.dribbble {

    margin: 120px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    


    &__title {
        font-weight: 700;
        font-size: 55px;
        color: v.$color_white;
    }
    &__desk {
        margin-top: 25px;
        font-weight: 400;
        font-size: 18px;
        color: v.$color_light-grey;
        max-width: 640px;
    }

    &__link {
        margin-top: 40px;
        color: v.$color_white;
    }

    &__img {
        margin: 120px 0 0 0;
        max-width: 1080px;
        width: 100%;
        height: 680px;
    }
}