@use 'variables' as v;

.feedback {
    margin-top: 120px;
    display: flex;

    &__title {
        font-size: 55px;
        font-weight: 700;
        color: v.$color_white;
    }

    &__desk {
        margin-top: 25px;
        margin-bottom: 40px;
        font-size: 18px;
        font-weight: 400;
        color: v.$color_light-grey;
    }
    
    &__link {
        
        color: v.$color_white;
    }

    &__text {
        margin-right: 25px;
    }

    &__card {
        margin: 0 0 120px 0;
        border: 1px solid v.$color_dark-grey;
        width: 636px;
        height: 790px;
        &__img {
            max-width: 636px;
            width: 100%;
            height: 360px;
        }

        &__title {
            font-size: 24px;
            font-weight: 700;
            color: v.$color_white;
            max-width: 508px;
            width: 100%;
            padding: 64px;
        }
        &__owner {
            font-size: 18px;
            font-weight: 700;
            color: v.$color_dark-grey;
            padding-left: 64px;
        }
        &__position {
            font-size: 18px;
            font-weight: 400;
            color: v.$color_dark-grey;
            padding-top: 5px;
            padding-left: 64px;
        }
    }
}