@use 'variables' as v;

.header {
    padding: 30px 0 0 0;

    .nav {
        &__item {
            color: v.$color_white;
            
            &_active {
                background-color: v.$color_active;
            }
        }

        &__list {
            display: flex;
            gap: 30px;

            .logo {
                flex-grow: 1;
                width: 79px;
                height: 24px;
            }
        }
    }

    .square {
        position: absolute;
        right: 0;
        top: 0;
        background-color: v.$color_light-black;
        width: 900px;
        height: 900px;
        z-index:-1;
    }
}