@use 'variables' as v;
@use 'sass:color';

.hero {
    width: 100%;
    height: 815px;
    display: flex;
    padding: 80px 0 0 0;
    position: relative;

    &__img {
        width: 750px;
        height: 650px;
        object-fit: contain;
    }

    &__title {
        color: v.$color_white;
        font-weight: 700;
        font-size: 78px;
        span {
            color: color.adjust(v.$color_white, $alpha: -0.5);
        }
    }
    &__desk {
        color: v.$color_white;
        font-weight: 400;
        font-size: 18px;
        padding: 30px 0 0 0;
    }

    &__wrapper {
        position: absolute;
        left: 670px;
        top: 230px;
        display: flex;
        flex-direction: column;
        max-width: 750px;
    }

}