@use 'variables' as v;

.portfolio {
    padding: 120px 0 0 0;
    &__title {
        color: v.$color_light-grey;
        font-size: 20px;
        font-weight: 700;
    }

    &__desk {
        color: v.$color_white;
        font-size: 55px;
        font-weight: 700;
        max-width: 550px;
        padding: 0 0 80px 0;
    }

    &__btn {
        width: 250px;
        height: 75px;
        margin: 30px 0 0 0;
        padding: 25px 30px;
        color: v.$color_white;
        font-size: 18px;
        font-weight: 700;
        border: 1px solid v.$color_active;
        display: flex;
        justify-self: center;
    }

    &__btn:hover {
        cursor: pointer;
        opacity: 0.9;
    }

    &__card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;

    }

    &__card {
        scale: 1;
        opacity: 1;
        transition: scale 0.5s, opacity 0.5s;
    }

    &__card:hover {
        cursor: pointer;
        scale: 1.05;
        opacity: 0.8;
    }
}