$color_black: #000000;
$color_white: #FFFFFF;
$color_active: #5221E6;

$color_light-black: #181823;
$color_light-grey: #8491A0;
$color_dark-grey: #C7E0F4;
$color_green: #3CC74E;
$color_blue: #609BFF;
$color_pink: #E95D90;