@use 'variables' as v;
@use 'basic';
@use 'header';
@use 'hero';
@use 'work';
@use 'more';
@use 'card';
@use 'skillset';
@use 'portfolio';
@use 'dribbble';
@use 'feedback';

* {
    box-sizing: border-box;
}

body {
    background-color: v.$color_black;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.link {
    border-bottom: 1px solid v.$color_light-grey;
}