@use 'variables' as v;
@use 'basic';
@use 'header';
@use 'hero';

* {
    box-sizing: border-box;
}

body {
    background-color: v.$color_black;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}